<!--
  about_me
-->

<tabs index="$root.tabIndex"></tabs>

<div class="container page about_me">

  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-xl-offset-2 col-xl-8">

      <header>

        <!-- A profile picture -->
        <img
          src="assets/images/masa_chinatown_400x400.jpg"
          alt="Masatoshi at Chinatown in Ottawa Canada"
          class="masatoshi" />

        <h3>
          Masatoshi Nishiguchi
        </h3>

        <div class="social_links">
          <a
            href="https://twitter.com/MNishiguchiDC"
            target="_blank"
            class="icon_link">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
          <a
            href="http://qiita.com/mnishiguchi"
            target="_blank">
            <img
              src="assets/images/ic_qiita_32x32.png"
              alt=""
              class="qiita"
              height="28" width="28"
              style="margin-bottom: 14px; margin-left: 5px; margin-right: 5px;">
          </a>
          <a
            href="https://github.com/mnishiguchi"
            target="_blank"
            class="icon_link">
            <i class="fa fa-github fa-2x"></i>
          </a>
          <a
            href="http://demos-mnishiguchi.bitballoon.com/"
            target="_blank"
            class="icon_link">
            [demos]
          </a>
        </div><!-- end social_links -->

      </header>


      <h1 class="page_header">
        About Me
      </h1>

      <p>
        Hi, I am Masatoshi Nishiguchi, an aspiring programmer who loves coding
        and is passionate about building web and mobile applications.
        <br /><br />
        I am originally from Japan, but currently live in the United States in Washington, DC.
      </p>

      <hr>

      <h1 class="page_header">
        Tools and Languages
      </h1>

      <p >
        These are some of the development tools that I currently use and
        programming languages that I have learned.
        I am so thankful to generous, experienced coders who shared their
        precious tutorials and other resources.
        Please see my Resources page for some of those I use.
      </p>

      <!-- Table - tools -->
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">
              Tools
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>MacBook Air</td>
          </tr>
          <tr>
            <td>
              iTerm, Sublime Text, Android Studio, NetBeans, Xcode, Vim
            </td>
          </tr>
          <tr>
            <td>Git, Linux, Heroku, SQLite, PostgreSQL</td>
          </tr>
        </tbody>
      </table>


      <!-- Table - languages -->
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">
              Languages
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              Ruby on Rails, HTML5, CSS3, JavaScript, CoffeeScript, jQuery,
              AngularJS, ReactJS, Java (Android), Python, C/C++
            </td>
          </tr>
          <tr>
            <td>Japanese, English, Spanish</td>
          </tr>
        </tbody>
      </table>

    </div><!-- end col-* -->
  </div><!-- end row -->

</div><!-- end container -->
