<!--
  resources
-->

<tabs index="$root.tabIndex"></tabs>

<div class="container page resources">

  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-xl-offset-2 col-xl-8">

      <h1 class="page_header">
        Resources
      </h1>

      <h4>UNDER CONSTRUCTION</h4>

      <img
        src="http://i.imgur.com/inNGyaY.png"
        alt="under construction" >

      <hr>

      <div class="row">
        <!-- Tutorial screencasts. -->
        <div class="col-lg-12">
          <div class="card">

            <div class="card-block">
              <h4 class="card-title">
                Michael Hartl's Ruby on Rails tutorial
              </h4>

              <p class="card-subtitle">
                When I completed several of the CodeAcademy's online courses,
                still I was not sure how to create a useful application using
                what I know about coding. Then I came across this awesome
                tutorial where you would not only learn professional-grade web
                development techniques but also get used to Github and Linux
                command line. This is the one that allowed me to acquire
                my basic development skills.
              </p>

            </div>

            <div class="card-block">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe
                  width="560" height="315"
                  src="https://www.youtube.com/embed/zrOf4lXzF4E"
                  frameborder="0"
                  allowfullscreen>
                </iframe>
              </div>
            </div>

            <div class="card-block">
              <a
                href="https://www.railstutorial.org/"
                class="btn btn-success-outline"
                target="_blank">
                Details
              </a>
            </div>

          </div><!-- end card -->
        </div><!-- end col -->

      </div><!-- end .row -->

    </div><!-- end .col-* -->
  </div><!-- end .row -->
</div><!-- end .container -->
