<!doctype html>

<html
  ng-app="app"
  ng-controller="MainController as main" >

  <head>
    <!-- Load Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==" crossorigin="anonymous">
    <!-- Load app styles -->
    <link href="main.css" rel="stylesheet" />

    <title>Bookstore | Masatoshi Nishiguchi</title>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <h1>Masa's Book Store</h1>
      </div>
    </header>

    <div class="main" >
      <div class="container">

        <h1>{{ main.title }}</h1>
        <h2>{{ main.promo }}</h2>

        <!--
          Iterate over main.products
         -->
        <div
          ng-repeat="product in main.products"
          class="col-md-6">

          <div class="thumbnail">
            <a href="{{ product.url }}" target="_blank">
              <img ng-src="{{ product.cover }}">
            </a>

            <p class="title">{{ product.name | uppercase }}</p>
            <p class="price">{{ product.price | currency }}</p>
            <p class="date">{{ product.pubdate | date }}</p>

            <div class="rating">
              <p
                class="likes"
                ng-click="main.likeOne($index)">
                + {{ product.likes }}
              </p>
              <p
                class="dislikes"
                ng-click="main.dislikeOne($index)">
                + {{ product.dislikes }}
              </p>
            </div>
          </div><!-- /thumbnail -->

        </div><!-- /col -->

      </div><!-- /container -->
    </div><!-- /main -->

    <div class="footer">
      <div class="container">
        <h2>Available for iPhone and Android.</h2>
        <img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />
        <img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />
      </div>
    </div>

    <!-- Load AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.js"></script>

    <!-- Load app module -->
    <script>

      (function() {

        // Module declaration.
        var app = angular.module("app", [ ]);


        // --------------------------------------------------------------------- //
        // --------------------------------------------------------------------- //


        MainController.$inject = [ ];
        app.controller( "MainController", MainController );

        function MainController() {

          var vm = this;

          // Initial state.
          vm.title    = "Ruby on Rails books";
          vm.promo    = "Check out these books to be a better Rails developer";
          vm.products = products;

          vm.likeOne = function( index ) {
            vm.products[ index ].likes += 1;
          };

          vm.dislikeOne = function( index ) {
            vm.products[ index ].dislikes += 1;
          };

        } // end MainController


        var products = [
          {
            name: "Ruby on Rails Tutorial",
            price: 30,
            pubdate: new Date("2015", "05", "09"),
            cover: "http://ecx.images-amazon.com/images/I/51qiS5gf-HL._SX337_BO1,204,203,200_.jpg",
            likes: 0,
            dislikes: 0,
            url: "https://www.railstutorial.org/"
          },
          {
            name: "Rails in Action",
            price: 40,
            pubdate: new Date("2015", "09", "19"),
            cover: "http://ecx.images-amazon.com/images/I/51-nLwEJZfL._SX397_BO1,204,203,200_.jpg",
            likes: 0,
            dislikes: 0,
            url: "http://www.amazon.com/Rails-4-Action-Ryan-Bigg/dp/1617291099"
          },
          {
            name: "Rails 4 way",
            price: 35,
            pubdate: new Date("2014", "06", "08"),
            cover: "http://ecx.images-amazon.com/images/I/51X4nf0-thL._SX322_BO1,204,203,200_.jpg",
            likes: 0,
            dislikes: 0,
            url: "http://www.amazon.com/Rails-Edition-Addison-Wesley-Professional-Series/dp/0321944275"
          },
          {
            name: "Agile Web Development with Rails 4 (Facets of Ruby)",
            price: 28,
            pubdate: new Date("2013", "10", "11"),
            cover: "http://ecx.images-amazon.com/images/I/51ETr-3MB1L._SX396_BO1,204,203,200_.jpg",
            likes: 0,
            dislikes: 0,
            url: "http://www.amazon.com/Agile-Development-Rails-Facets-Ruby/dp/1937785564"
          }
        ];

      })(); // end module

    </script>

  </body>
</html>
