html, body {
   font-family: 'Roboto', sans-serif;
}

.site-layout--head {
  background: #abc;
  height: 60px;
}

.site-layout--menu {
  background: #cde;
  height: 60px;
}

.site-layout--body {
  background: #bcd;
  height: 300px;
}

.site-layout--foot {
  background: #def;
  height: 60px;
}
