<!DOCTYPE html>

<html
  lang="en-us"
  ng-app="app">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>Dynamic tabs | Masatoshi Nishiguchi</title>

  <!-- Load styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css" type='text/css' />
</head>


<body ng-controller="AppController as app">

  <div class="container">

    <h1>Dynamic tabs</h1>

    <hr>

    <dynamic-tabs>
      <div ng-repeat="content in app.contents track by $index">

        <content-pane title="{{ content.title }}">
          <div class="container">
            <h1>{{ content.title }}</h1>
            <div ng-bind-html="content.body"></div>
          </div>
        </content-pane>

      </div>
    </dynamic-tabs>

    <!-- Display JSON data with HTML strings -->
    <section class="alert alert-info">
      <div class="container">

        <div ng-repeat="content in app.contents track by $index">
          <pre>{{ content }}</pre>
        </div>

      </div>
    </section>

    <footer class="footer">
      <small>&copy; 2015 Masatoshi Nishiguchi</small>
    </footer>

  </div><!-- /container -->

  <noscript>
    <div class="nojs">
      Javascript is either disabled or not supported in your browser.
      Please enable it or use a Javascript enabled browser.
    </div>
  </noscript>

  <!-- Load jQuery then AngularJS
    NOTE: Always read jQuery before AngularJS
  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-sanitize.min.js"></script>

  <!-- Load app scripts -->
  <script src="app.module.js"></script>

</body>
</html>
